<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <input type="text" value="123123" readonly id="test">
    <input type="text" value="오종현" id="myname">
    
</body>

<script>

    window.onload=function(){

        console.log('준비완료');

        var my = document.getElementById('test');

        console.log(my.readOnly);


        if(my.readOnly==true){
            console.log('읽기전용');


            
        }
        

        console.log($('input').is('readOnly'));

        
        my.value='333';


    }

</script>
</html>